/* 
Original CSS based on http://line25.com/tutorials/how-to-create-flat-style-breadcrumb-links-with-css
*/

/*  suggested colors */
:root {
--u-color-1-menu: #309fdb;
--u-color-2-menu: #13b6cf;
--u-color-inactive: #bdcfdb;
--u-color-complete: #3caf85;
}

/* Allow long lists to scroll */
div.crumbs {overflow: scroll;}
.crumbs > div {width: max-content;}

.crumbs button .t-Icon {color: inherit;}
.crumbs button.crumbActionsBtn {
  display: none;
}
.crumbs.js-hasActions button.crumbActionsBtn {
  display: inline-block;
}
.crumbs button.crumbActionsBtn {
    height: 3.5rem;
    vertical-align: top;
}

.crumbs ul {
  margin: 0 0 .8rem 0;
  list-style: none;
  display: inline-table;
  width: max-content;
}
  .crumbs ul li {
    display: inline-block;
  }

  .crumbs ul li a {
    display: inline-block;
    height: 2.6em;
    text-align: center;
    padding: 4px 16px 8px 26px;
    position: relative;
    margin: 0 7px 0 0; 
    
    font-size: 1em;
    line-height: 1.1em;
    text-decoration: none;
    color: #fff;
  }
    .crumbs ul li a:after {
      content: "";  
      border-top: 1.3em solid transparent;
      border-bottom: 1.3em solid transparent;
        border-left: 1.4em solid var(--u-color-2-menu);
      position: absolute; right: -1.4em; top: 0;
      z-index: 1;
    }
    .crumbs ul li a:before {
      content: "";  
      border-top: 1.3em solid transparent;
        border-bottom: 1.3em solid transparent;
        border-left: 1.4em solid #ffffff;
      position: absolute; left: 0; top: 0;
    }
      .crumbs ul li.active:first-child a,
      .crumbs ul li:first-child a {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        padding-left: 1.4em;
      }
      .crumbs ul li:first-child a:before {
        display: none; 
      }
      
      .crumbs ul li:last-child a {
        padding-right: 1.4em;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      .crumbs ul li:last-child a:after {
        display: none; 
      }
    
  .crumbs ul li a span.who {
    font-size: .8em;
  }
  .crumbs ul li:last-child a span.removeCrumb {
    right: 7px;
  }
  .crumbs ul li a span.removeCrumb.allowN {
    display: none;
  }
  .crumbs ul li a span.removeCrumb {
    position: absolute;
    right: -5px;
    top: 7px;
    padding: 3px;
    color: #DDD;
  }
  .crumbs ul li a span.checkCrumb {
    position: absolute;
    right: 0;
    top: 4px;
    color: #DDD;
    display: none;
  }
  .crumbs ul li a span.removeCrumb:hover {
    color: #C33!important;
    opacity: 1;
  }
    .crumbs ul li.active a {
      background: var(--u-color-2-menu);
    }
      .crumbs ul li.active a:after {
         border-left-color: var(--u-color-2-menu);
      }
      .crumbs ul li a:hover:after {
        border-left-color: var(--u-color-1-menu);
      }

    .crumbs ul li a.inactive {
      background: var(--u-color-inactive);
    }
    .crumbs ul li a.inactive:after {
        border-left: 20px solid var(--u-color-inactive);
    }

    .crumbs ul li a.inactive:hover:after {
        border-left: 20px solid var(--u-color-1-menu);
    }

    .crumbs ul li.current:first-child a,
    .crumbs ul li.current a {
      background-color: var(--u-color-1-menu);
    }

    .crumbs ul li.current:first-child a:after,
    .crumbs ul li:first-child a:hover:after,
    .crumbs ul li.current a:after {
        border-left-color: var(--u-color-1-menu);
    }

    .crumbs ul li.done:first-child a,
    .crumbs ul li.done a {
      background-color: var(--u-color-complete);
    }

    .crumbs ul li.done:first-child a:after,
    .crumbs ul li.done a:after {
        border-left-color: var(--u-color-complete);
    }


    .crumbs ul li a.inactive:hover,
    .crumbs ul li a:hover {
      background: var(--u-color-1-menu)!important;
    }

.crumbs .t-Icon {
    position: relative;
    color: #fff;
}

div.crumbs.js-hasTodo ul li a span.checkCrumb {
  display: inline;
}
div.crumbs.js-hasTodo ul li.done a span.checkCrumb fa, 
div.crumbs.js-hasTodo ul li a span.checkCrumb:hover {
  color: #fff;
}

div.crumbs.js-hasTodo ul li a span.removeCrumb {
    top: unset;
    right: -1px;
    bottom: -1px;
    padding: 0px;
    color: #AAA;
    opacity: .7;
}
div.crumbs.js-hasTodo ul li a span.removeCrumb {
    opacity: 1;
}
